*  {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    color: var(--color4);
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--color1);
    display: flex;
    flex-direction: column;
    align-items: center;
}
:root {
    --color1: #2d2d2d;
    --color2: #454545;
    --color3: rgba(166, 135, 99);
    --color4: #EAE0D2;
    --color5: #d7c9ae;
}

/* Header */
header {
    background-color: var(--color2);
    border-radius: 24px;
    margin: 4% 25% 0% 25%;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    min-width: 25vw;
}
.nav ul, #about-content ul, #about-side ul {
    list-style: none;
}
.nav li{
    display: inline-block;
    padding: 10px 15px;
}
.nav a, #about-nav a {
    transition: all 0.3s ease-in 0s;
    text-decoration: none;
    font-size: 12px;
    font-weight: 550;
}
.nav a:hover, #about-nav a:hover {
    background-color: var(--color3);
    border-radius: 12px;
    padding: 2px 8px;
}
#logo {
    width: 2vw;
    height: auto;
    border-radius: 100%;
    margin-left: 35%;
}

/* Main */
main {
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 5% 15%;
    animation-name: fadeIn;
    animation-duration: 2s;
}

/* Home */
#home {
    text-align: center;
}

#home h1 {
  margin-bottom: 1rem; 
  font-size: 3rem;    
}

/* About */
#about {
    display: flex;
    justify-content: space-between;
    min-width: auto;
    min-height: auto;
}
    
#about-side {
    animation-name: slideIn;
    animation-duration: 1.2s;
    margin: 0 1.5vw 3vh 0;
    min-width: 25%;
    min-height: 100%; 
}
#about-nav li a {
    font-size: medium;
    display: block;
    padding: 0.2rem 0.5rem;
}
#about-side #profile-pic {
    border: #000000 2px solid;
    width: 12vw;
    height: auto;
    border-radius: 50%;
    position: relative;
    left: 15%;
}
#social-links a{
    padding: 0.1em;
    font-size: 2em;
}

#about-side ul, #social-links {
    margin: 10% 2%;
}
#about-content {
    animation-name: slideOut;
    animation-duration: 1.2s;
    margin: 0 0 3vh 1.5vw;;
    min-width: auto;
}

#about-content h1 {
    margin-bottom: 0.5rem;
    font-size: 2.2rem;
}
#about-content i, #about-content li{
    padding: 0.2rem 0.2rem;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-2%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideOut {
    from {
        transform: translateX(2%);
    }
    to {
        transform: translateX(0);
    }
}
